// Specific CSS for your home-page

#home-index {
  background-image: asset-url('homepage.jpg');
  background-size: 100% -1%;
  height: 725px;
}

h1 {
  font-family: 'Azonix', sans-serif;
  font-size: 100px;
  color: beige;
}

h3 {
  font-family: 'Kodchasan', sans-serif;
}

#container {
  font-family: 'Kodchasan', sans-serif;
}

#about-index {
  font-family: 'Kodchasan', sans-serif;
  color: beige;

  @media(max-width: 1024px) {
    img.bg {
      left: 50%;
      margin-left: -512px;
    }
  }
}

#contact-index {
  font-family: 'Kodchasan', sans-serif;
  color: beige;

  @media(max-width: 1024px) {
    img.bg {
      left: 50%;
      margin-left: -512px;
    }
  }
}
