// Specific CSS for your home-page
h1 {
  background-image: asset-url('galaxy_wp.jpg');
  background-size: cover;
  font-family: 'Azonix', sans-serif;
  color: beige;
}

h3 {
  background-image: asset-url('galaxy_wp.jpg');
  background-size: cover;
  font-family: 'Kodchasan', sans-serif;
}

#container {
  background-image: asset-url('galaxy_wp.jpg');
  background-size: cover;
  font-family: 'Kodchasan', sans-serif;
}

#about-index {
  background-image: asset-url('galaxy_wp.jpg');
  background-size: cover;
  font-family: 'Kodchasan', sans-serif;
  color: beige;

  @media(max-width: 1024px) {
    img.bg {
      left: 50%;
      margin-left: -512px;
    }
  }
}

#contact-index {
  background-image: asset-url('galaxy_wp.jpg');
  background-size: cover;
  font-family: 'Kodchasan', sans-serif;
  color: beige;

  @media(max-width: 1024px) {
    img.bg {
      left: 50%;
      margin-left: -512px;
    }
  }
}
