// Specific CSS for your home-page

#home-index {
  margin-top: -3rem;
  padding-top: 3rem;
  background-image: asset-url('homepage.jpg');
  background-size: 100% -1%;
  background-size: inherit;
}

.hometitle {
  font-family: 'Azonix', sans-serif;
  font-size: 135px;
  color: beige;
  white-space: nowrap;
  text-align: center;
}

.subtitle {
  font-family: 'Kodchasan', sans-serif;
  font-size: 30px;
  color: beige;
  white-space: nowrap;
  text-align: center;
  margin-top: -30px;
  font-style: italic;
  font-weight: 450;
}

h1 {
  font-family: 'Azonix', sans-serif;
  font-size: 130px;
  color: beige;
  white-space: nowrap;
  // margin-left: 130px;
}

h2 {
  font-family: 'Kodchasan', sans-serif;
}

h3 {
  font-family: 'Kodchasan', sans-serif;
}

#super-container {
  font-family: 'Kodchasan', sans-serif;
}

#about-index {
  font-family: 'Kodchasan', sans-serif;
  color: beige;

  @media(max-width: 1024px) {
    img.bg {
      left: 50%;
      margin-left: -512px;
    }
  }
}

#contact-index {
  font-family: 'Kodchasan', sans-serif;
  color: beige;

  @media(max-width: 1024px) {
    img.bg {
      left: 50%;
      margin-left: -512px;
    }
  }
}

// TECHNOS & PLANETS CARDS //

.super-container {
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.super-container .card {
  position: relative;
  border-radius: 8px;
  background-color: transparent;
  border: transparent;
}

.super-container .card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.7s;
  z-index: 1;
  border-radius: 4px;
}

.super-container .card:nth-child(1) .icon {
  // background: #3bdf77;
  background-image: url("technologies.jpg");
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
}

.super-container .card:nth-child(2) .icon {
  // background: #9639dd;
  background-image: url("destinations.jpg");
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
}

// .super-container .card:nth-child(3) .icon {
//   background: #4aada9;
// }


.super-container .card .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

.super-container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
  border-radius: 4px;
}

.super-container .card .face.face1 {
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.super-container .card:hover .face.face1{
  background: #ff0057;
  transform: translateY(0px);
}

.super-container .card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.super-container .card:hover .face.face1 .content {
  opacity: 1;
}

.super-container .card .face.face1 .content i{
  max-width: 100px;
}

.super-container .card .face.face2 {
  position: relative;
  background: url("galaxy_wp.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  transform: translateY(-100px);
}

.super-container .card:hover .face.face2{
  transform: translateY(0);
}

.super-container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}

.super-container .card .face.face2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
  color: #414141;
}

.super-container a {
  text-decoration: none;
  color: beige;
}
