#planets-index {
  background-image: asset-url('destinations.jpg');
  background-size: 100% -1%;
  height: 725px;
  font-family: 'Kodchasan', sans-serif;

  @media(max-width: 1024px) {
    img.bg {
      left: 50%;
      margin-left: -512px;
    }
  }
}
