<div id="flights-index">

  <div class="container">

    <h1>FLIGHTS</h1>

    <%= render "/shared/flights" %>

  </div>

</div>

<%#
<% @flights.each do |flight| %>
  <%# <%= flight.travel_distance, flight.price_per_person %>
<%# <% end %>
