<div id="bookings-index">

  <div class="container">

    <h1 class="booktitle">BOOKINGS</h1>

    <div class="book">
      <% @bookings.each do |booking|%>
        <div class="d-flex justify-content-between w-100 mb-3">
          <% if booking.flight.photo.attached? %>
            <%= cl_image_tag booking.flight.photo.key, height: 300, width: 400, crop: :fill, class:"flightpic" %>
          <% end %>

          <div class="text-end ps-5">
            <h2 class="flightdepdate">
              <%= booking.flight.departure_date %>
            </h2>

            <div class="date">
              <th>Booked: <strong><%= booking.flight.departure_date %></th></strong>
            </div>

            <div class="cost">
              Total price: <strong><%= booking.flight.price_per_person %> ₩</strong>
            </div>
          </div>

        </div>
      <% end %>
    </div>

  </div>
</div>
