<div class="flightcards">
  <% @flights.each do |flight| %>
    <div class="card">
      <div class="maincard">
        <p class="depcard"><%= flight.departure_date %></p>
        <p class="pricecard"><%= flight.price_per_person %> ₩ </p>
        <p class="tracard"><%= flight.travel_distance %></p>
        <%= link_to "Check your flight", flight_path(flight), class: "btn" %>
      </div>
    </div>
  <% end %>
</div>
