<h1>About us</h1>

<div class="container">
  <h1 class="about-us">About us</h1>

  <div class="about-pic d-flex justify-content-between w-100 mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
      url('<%= image_path "letsparty.png" %>');
      color: white; height:300px">
  </div>

  <div class="about-center ps-3">
    <div class="about-text">
        Make your next party or event super fun with some of our wild, wacky,
        and crazy stuff rentals! We have some of the most bizarre rental items in
        all of France. But the crazy items are some of the most fun to play!
        Race around on one of our silly racing items, like the bathtubs or the toilets!
        Try some sumo wrestling with our sumo suits.
        Or perhaps you'd like to get a foam pit party going at your next event!
    </div>
  </div>

</div>


<%= link_to "Who are we?", about_path %>
