<div id="contact-index">

  <div class="contact-container">

    <div class="about-pic d-flex justify-content-between w-100 mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url('<%= image_path "galaxy_wp.jpg" %>');
        color: white; height:300px">
    </div>

    <div class="contact-us">
        <h1>CONTACT US</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>phone: +00 000 000 000</p>
        <p>email: email@email.com</p>
    </div>
  </div>

</div>

<%# <%= link_to "Meet us", contact_path %>
