  <div class="main-container">
    <div class="container">
        <h1>CONTACT US</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>phone: +00 000 000 000</p>
        <p>email: email@email.com</p>
    </div>
  </div>

<%# <%= link_to "Meet us", contact_path %>
