// HOME ELEMENTS //

.btn-homeflights {
  background-image: url("flights.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  font-family: 'Kodchasan', sans-serif;
  margin-bottom: 24px;
  margin-left: 100px;
  margin-top: 20px;

  .btn-homeflights:active,
  .btn-homeflights:hover {
    outline: 0;
  }

  .btn-homeflights span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }

  .btn-homeflights:hover span {
    background: none;
  }

  @media (min-width: 768px) {
    .btn-homeflights {
      font-size: 24px;
      min-width: 196px;
    }
  }
}

.btn-hometechnos {
  background-image: url("technologies.jpg");
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  border-radius: 4px;
  border: 2px solid darkslateblue;
  font-family: 'Kodchasan', sans-serif;
  margin-bottom: 24px;
  margin-top: 20px;

  .btn-hometechnos:active,
  .btn-hometechnos:hover {
    outline: 0;
  }

  .btn-hometechnos span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }

  .btn-hometechnos:hover span {
    background: none;
  }

  @media (min-width: 768px) {
    .btn-hometechnos {
      font-size: 24px;
      min-width: 196px;
    }
  }
}

.btn-homeplanets {
  color: rgb(51, 0, 255);
  background-image: url("destinations.jpg");
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  border-radius: 4px;
  border: 2px solid darkslateblue;
  font-family: 'Kodchasan', sans-serif;
  margin-bottom: 24px;

  .btn-homeplanets:active,
  .btn-homeplanets:hover {
    outline: 0;
  }

  .btn-homeplanets span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }

  .btn-homeplanets:hover span {
    background: none;
  }

  @media (min-width: 768px) {
    .btn-homeplanets {
      font-size: 24px;
      min-width: 196px;
    }
  }
}


// OTHER BUTTONS //

.button-flights {
  // color: blue;
  // background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  background-image: url("flights.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  // border: 2px solid darkblue;
  font-family: 'Kodchasan', sans-serif;
  margin-bottom: 24px;
  margin-left: 150px;
  margin-top: 20px;

  .button-flights:active,
  .button-flights:hover {
    outline: 0;
  }

  .button-flights span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }

  .button-flights:hover span {
    background: none;
  }

  @media (min-width: 768px) {
    .button-flights {
      font-size: 24px;
      min-width: 196px;
    }
  }
}


.button-technos {
  background-image: url("technologies.jpg");
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  border-radius: 4px;
  // border: 2px solid rgb(61, 139, 87);
  font-family: 'Kodchasan', sans-serif;
  margin-bottom: 24px;
  margin-left: 150px;
  margin-top: 20px;

  .button-technos:active,
  .button-technos:hover {
    outline: 0;
  }

  .button-technos span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }

  .button-technos:hover span {
    background: none;
  }

  @media (min-width: 768px) {
    .button-technos {
      font-size: 24px;
      min-width: 196px;
    }
  }
}

.button-planets {
  color: rgb(51, 0, 255);
  background-image: linear-gradient(144deg,#5040ff, #8042f3 50%,#5c7cf1);
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  border-radius: 4px;
  border: 2px solid darkslateblue;
  font-family: 'Kodchasan', sans-serif;
  margin-bottom: 24px;

  .button-planets:active,
  .button-planets:hover {
    outline: 0;
  }

  .button-planets span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }

  .button-planets:hover span {
    background: none;
  }

  @media (min-width: 768px) {
    .button-planets {
      font-size: 24px;
      min-width: 196px;
    }
  }
}

.btn {
  color: darkmagenta;
  background-color: darkorchid;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  border: 2px solid darkslateblue;
  font-family: 'Kodchasan', sans-serif;
}

input {
  background-image: url("flights.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  font-family: 'Kodchasan', sans-serif;
  // margin-bottom: 218px;
  // margin-left: 100px;
  // margin-top: 20px;

  .btn-homeflights:active,
  .btn-homeflights:hover {
    outline: 0;
  }

  .btn-homeflights span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }

  .btn-homeflights:hover span {
    background: none;
  }

  @media (min-width: 768px) {
    .btn-homeflights {
      font-size: 24px;
      min-width: 196px;
    }
  }
}
