.button-flights {
  color: blue;
  background-color: lightblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  border: 2px solid darkslateblue;
  font-family: 'Kodchasan', sans-serif;
}

.button-technos {
  color: green;
  background-color: lightgreen;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  border: 2px solid teal;
  font-family: 'Kodchasan', sans-serif;
}

.button-planets {
  color: purple;
  background-color: mediumpurple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  border: 2px solid darkviolet;
  font-family: 'Kodchasan', sans-serif;
}
