#flight-container {
  padding: 40px 70px 40px 70px;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  display: flex;
  // min-height: 10vh;
  // line-height: 1.6;
  background: #F4F4F4;
  grid-row-gap: 40px;
}
