#flight-container {
  padding: 40px 70px 40px 70px;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  display: flex;
  // min-height: 10vh;
  // line-height: 1.6;
  background: #F4F4F4;
  grid-row-gap: 40px;
}

.maincard {
  background-color: rgb(180, 115, 250);
  border: 2px solid darkviolet;
}

.depcard {
  text-align: end;
}

.pricecard {
  text-align: end;
}

.tracard {
  text-align: end;
}

.flightdepdate {
  font-family: 'Kodchasan', sans-serif;
  color: beige;
}

.date {
  font-family: 'Kodchasan', sans-serif;
  color: beige;
}

.cost {
  font-family: 'Kodchasan', sans-serif;
  color: beige;
}
