.navbar-lewagon {
  justify-content: space-between;
  // background: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .container-fluid {
  justify-content: center;
  background: transparent;
  font-family: 'Kodchasan', sans-serif;
}
// css transparent, texte en blanc, fond soit derrière navbar (ou navbar par-dessus)
